.features {
  padding-top: 47px;
}

.features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin-bottom: 50px;
}

.features__links {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__item {
  position: relative;
}

.features__wrapper > p {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;

  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  background: rgba(47, 48, 58, 0.8);
}
